<template>
  <div>
    <div class="row div-row-padding">
      <div v-for="(article, index) in s_articleList"
            :key="'article'+ index"
             class="col-6">
        <app-gestion-index :article="article">
        </app-gestion-index>
      </div>
    </div>
  </div>
</template>

<script>
  import AppGestionIndex from '../_shared/Article/Index.vue';
  import store from '../_store/article.store';
  import {mapActions, mapState} from 'vuex';
  
export default {

name: 'AppIndex',
  store,
  components: {
    AppGestionIndex,
  },
  computed: {
    ...mapState({
        s_articleList: state => state.articleList
    }),

  },
  mounted(){
      this.getListArticles();
  }, 
  methods: {
    ...mapActions({
      getListArticles: 'getListArticles'
    }),
  }
};
</script>
<style scoped>
.div-row-padding{
  padding-right: 180px;
  padding-left: 180px;
  padding-bottom: 30px;
  padding-top: 30px;
}

</style>
