<template>
    <v-container class="container-border">
       <app-parametre-article :article="article"></app-parametre-article>
        <div class="row">
            <div class="col-12 title-section">
                <p class="text-uppercase font-weight-bold">résultat</p>
            </div>
            <div class="col-12">
                <v-container class="container-section">
                    <app-graphic-summary :article="article">
                   </app-graphic-summary>
                </v-container>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <v-container class="container-section">
                    <app-summary :article="article" 
                                 :first-article="article.id == 2 ? s_articleList[0] : null"></app-summary>
            </v-container>
            </div>
        </div>
    </v-container>
</template>
<script>
 import AppGraphicSummary from '../Article/_shared/GraphicSummary.vue';
 import AppParametreArticle from '../Article/_shared/ParametreArticle.vue';
 import AppSummary from '../Article/_shared/Summary.vue';
 import {mapState} from 'vuex';
export default {
    props: {
      article: Object
    },
  name: 'AppGestionIndex',
  components: {
    AppGraphicSummary, AppParametreArticle, AppSummary
  },
  computed: {
    ...mapState({
        s_articleList: state => state.articleList
    }),
  }
};
</script>
<style scoped>
 .title-section{
    padding-bottom: 0px;
    padding-top: 30px;
    color: #486782;
 }
 .container-border{
  border: 1px black dashed;
  border-radius: 5px;
}
.container-section{
    background-color: white;
    border-radius: 18px;
    font-size: 18px;
}
</style>