<template>
    <div>
        <div class="row">
            <div class="col-4 graphic-sumary-title font-size-14-px col-padding">
            </div>
            <div class="col-4 graphic-sumary-title font-size-14-px col-padding">
                    <p class="p-margin-bottom text-center font-size-14-px">Taille</p>
                    <p class="p-margin-bottom font-size-11-px"> (Unités/Jours de couvertures)</p>
            </div>
            <div class="col-4 d-flex justify-center d-flex align-end graphic-sumary-title font-size-14-px col-padding">
                 <p class="p-margin-bottom">Top de la zone</p>
            </div>
       </div>
       <div v-for="(summary, index) in article.summaryGraphic"
            :key="'summary'+ index" 
            class="row">
           <div class="col-4 d-flex justify-end font-size-14-px col-padding">
               <span class="v-badge-content">{{summary.title}}</span>
                   <v-badge inline
                            dot
                            :color="summary.color"
                            class="margin-badge">
                    </v-badge>
            </div>
            <div class="col-4 d-flex justify-center font-size-14-px col-padding">
                    <span>{{getArticleSize(summary)}}</span>
            </div>
            <div class="col-4 d-flex justify-center font-size-14-px col-padding">
                <span v-if="summary.title !== 'Base Rouge'">{{getTopZone(summary)}}</span>
            </div>
        </div>
    </div>
     
</template>
<script>
import * as Value from '../../../_utils/article.utils';
export default {
  props: {
   article: Object,
  },
  name: 'AppGraphicSummary',
  methods: {
    getArticleSize(summary){
        if(summary.title == "Vert"){
            return Value.u_getValueA(this.article) + "/" + Value.u_getValueE(this.article);
        }
        else if(summary.title == "Jaune"){
            return Value.u_getValueB(this.article) + "/" + Value.u_getValueF(this.article);
        }
        else if(summary.title == "Rouge"){
            return Value.u_getValueC(this.article) + "/" + Value.u_getValueG(this.article);
        }
        else if(summary.title == "Base Rouge"){
            return Value.u_getValueD(this.article) + "/" + Value.u_getValueH(this.article);
        }
    },
    getTopZone(summary){
        if(summary.title == "Vert"){
            return Value.u_getValueI(this.article);
        }
        else if(summary.title == "Jaune"){
            return Value.u_getValueJ(this.article);
        }
        else if(summary.title == "Rouge"){
            return Value.u_getValueK(this.article);
        }
    }
  }
};
</script>
<style scoped>
  .margin-badge{
    margin-top: 4px;
  }
  .p-margin-bottom {
    margin-bottom: 0px;
}
.graphic-sumary-title{
    padding-bottom: 0px;
}

.font-size-11-px{
    font-size: 11px;
}

.font-size-14-px{
    font-size: 14px;
}
.col-padding{
    padding-top: 0px;
    padding-bottom:5px;
}
</style>