<template>
    <div>
        <div class="row">
            <div class="col-12 title-section">
                <p class="text-uppercase font-weight-bold">paramètre de l'article</p>
            </div>
            <div class="col-6 col-input-padding-top">
                <v-text-field v-model="c_timeLimitArticle"
                              label="Délai de l'article"
                              class="inuput-bg-color"
                              rounded
                              suffix="jours">
                </v-text-field>
            </div>
            <div class="col-6 col-input-padding-top">
                <v-text-field v-model="c_lotSize"
                              label="Taille de lot"
                              class="inuput-bg-color"
                              rounded
                              suffix="unités">
                </v-text-field>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-input-padding-top">
                <v-text-field v-model="c_averageDayUse" 
                              label="Consommation moyenne jour"
                              class="inuput-bg-color"
                              rounded
                              suffix="jours">
                </v-text-field>
            </div>
            <div class="col-6 col-input-padding-top">
                <v-text-field v-model="c_setArticlePrice"
                              label="Coût de l'article"
                              class="inuput-bg-color"
                              rounded
                              suffix="€">
                </v-text-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12 title-section">
                <p class="text-uppercase font-weight-bold">paramètre du buffer</p>
            </div>
            <div class="col-6 col-input-padding-top">
                <v-text-field v-model="c_timeFactor"
                              label="Facteur de délai"
                              class="inuput-bg-color"
                              rounded
                              suffix="%">
                </v-text-field>
            </div>
            <div class="col-6 col-input-padding-top">
                <v-text-field v-model="c_variabilityFactor"
                              label="Facteur de variabilité"
                              class="inuput-bg-color"
                              rounded
                              suffix="%">
                </v-text-field>
            </div>
        </div>
    </div>
</template>
<script>
import {mapActions, mapState} from 'vuex';
export default {
 props: {
  article: Object,
 },
 name: 'AppParametreArticle',
 computed: {
    ...mapState({
        s_articleList: state => state.articleList
    }),
   c_timeLimitArticle: {
     get(){
        return this.article.timeLimitArticle;
        },
    set(val){
        this.setTimeLimitArticle({value: val !== "" ? parseInt(val) : 0, id: this.article.id});
       },
    },
    c_lotSize: {
     get(){
        return this.article.lotSize;
        },
    set(val){
        this.setLotSize({value: val !== "" ? parseInt(val) : 0, id: this.article.id});
       },
    },
    c_averageDayUse: {
     get(){
        return this.article.averageDayUse;
        },
    set(val){
        this.setAverageDayUse({value: val !== "" ? parseInt(val) : 0, id: this.article.id});
       },
    },
    c_setArticlePrice: {
     get(){
        return this.article.articlePrice;
        },
    set(val){
        this.setArticlePrice({value: val !== "" ? parseInt(val) : 0, id: this.article.id});
       },
    },
    c_timeFactor: {
     get(){
        return this.article.timeFactor;
        },
    set(val){
        this.setTimeFactor({value: val !== "" ? parseInt(val) : 0, id: this.article.id});
       },
    },
    c_variabilityFactor: {
     get(){
        return this.article.variabilityFactor;
        },
    set(val){
        this.setVariabilityFactor({value: val !== "" ? parseInt(val) : 0, id: this.article.id});
       },
    }
 },
 methods: {
    ...mapActions({
        setTimeLimitArticle: 'setTimeLimitArticle',
        setLotSize : 'setLotSize',
        setAverageDayUse: 'setAverageDayUse',
        setArticlePrice: 'setArticlePrice',
        setTimeFactor: 'setTimeFactor',
        setVariabilityFactor: 'setVariabilityFactor',
    }),
 }
};
</script>

<style scoped>
 .col-input-padding-top{
    padding-top: 0px;
 }
 .inuput-bg-color{
    background-color: white;
    height: 50px;
 }
 .title-section{
    padding-bottom: 0px;
    padding-top: 30px;
    color: #486782;
 }
 ::v-deep .v-text-field__suffix{
    color:  #c0c0c0 !important;;
 }

 ::v-deep .v-label{
    color: #c0c0c0!important;;
 }
</style>