<template>
    <div class="div-padding">
        <div class="row font-size-16-px">
           <div class="col-8 d-flex justify-end col-padding">
             <span>Stock moyen disponible</span>
           </div>
           <div class="col-4 col-padding">
             <span class="font-weight-bold">{{c_getValueL}} unités</span>
             <span v-if="(article.id == 2)" class="font-weight-bold ml-1">({{c_getValueP}})</span>
           </div>
       </div>
       <div class="row font-size-16-px">
           <div class="col-8 d-flex justify-end col-padding">
             Coût moyen des stocks disponibles
           </div>
           <div class="col-4 col-padding">
            <span class="font-weight-bold">{{c_getValueM}} €</span>
            <span v-if="(article.id == 2)" class="font-weight-bold ml-1">({{c_getValueQ}})</span>
           </div>
       </div>
       <div class="row font-size-16-px">
           <div class="col-8 d-flex justify-end col-padding">
           Fréquence de réapprovisionnement
           </div>
           <div class="col-4 col-padding">
            <span class="font-weight-bold">{{c_getValueN}} jours</span> 
            <span v-if="(article.id == 2)" class="font-weight-bold ml-1">({{c_getValueR}})</span>
           </div>
       </div>
       <div class="row font-size-16-px">
           <div class="col-8 d-flex justify-end col-padding">
           Quantité moyenne de commande
           </div>
           <div class="col-4 col-padding">
            <span class="font-weight-bold">{{c_getValueO}} unités</span>
            <span v-if="(article.id == 2)" class="font-weight-bold ml-1">({{c_getValueS}})</span>
           </div>
       </div>
    </div>  
</template>
<script>
 import * as Value from '../../../_utils/article.utils';
export default {
 props: {
  article: Object,
  firstArticle: Object,
 },
 name: 'AppSummary',
 computed:{
    c_getValueL(){
      return Value.u_getValueL(this.article);
    },
    c_getValueM(){
      return Value.u_getValueM(this.article);
    },
    c_getValueN(){
      return Value.u_getValueN(this.article);
    },
    c_getValueO(){
      return Value.u_getValueO(this.article);
    },
    c_getValueP(){
      return Value.u_getValueP(this.article, this.firstArticle);
    },
    c_getValueQ(){
      return Value.u_getValueQ(this.article, this.firstArticle);
    },
    c_getValueR(){
      return Value.u_getValueR(this.article, this.firstArticle);
    },
    c_getValueS(){
     return Value.u_getValueS(this.article, this.firstArticle);
    }
  } 
};
</script>
<style scoped>
.font-size-16-px{
  font-size: 14px;
}
.col-padding{
    padding-top: 0px;
    padding-bottom:5px;
}

.div-padding{
  padding-top:  5px;
}
</style>