<template>
  <v-app class="app-bg-color">
    <v-main>
      <app-index></app-index>
    </v-main>
  </v-app>
</template>

<script>
import AppIndex from './components/Stock/Index/Index.vue';

export default {
  name: 'App',
  components: {
    AppIndex,
  },
};
</script>
<style scoped>
.app-bg-color{
  background-color: #eff3f5 !important;
 
}
</style>